.rewardsWidget {
  .widgetBody {
    padding: 10px 20px 30px 15px;
    background-image: url('../../assets/images/star-bg.svg');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 50%;
  }
  .flex-row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .icon-star {
    margin-right: 10px;
    width: 16px;
    margin-top: 3px;
  }
  p {
    font-size: 13px;
    margin-top: 0;
    color: #050505;
  }
}
