$primary-color: #5931ea;
$secondary-color: #121a50;
$light-color: #ccd4ff;
$dark-color: #222;
$grey-color: #ddd;
$danger-color: #ff4747;
$warning-color: #ff9c47;
$info-color: #77bada;
$success-color: #3d9b25;
$white: #fff;
$border-color: #ccd4ff;
$aside-border-color: #ccd4ff;
$profile-circle-width: 0.08em;
$profile-circle-width-hover: 0.04em;
$profile-primary-color: #f8f8f8;
$profile-secondary-color: #5931ea;
$profile-bg-color: #f5f5f5;
