.seeAllPage {
  .friendsWidget {
    .media {
      display: flex;
      align-items: center;
    }
    .widgetAvatar {
      width: 2rem !important;
      height: 2rem !important;
    }
    .media-heading {
      font-size: 14px !important;
    }
    .media-subheading {
      color: #003787 !important;
    }
    .media-body {
      width: auto !important;
      max-height: 40px;
      margin: 0 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow-wrap: break-word;
      white-space: break-spaces;
    }
    .media-right {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .friend-search {
      margin: 0 auto;
      border-left: 1px solid #ccd4ff;
      input {
        border: none;
      }
      button {
        background-color: transparent;
      }
    }

    .list-group .list-group-item .media-right {
      height: auto;
    }
  }
  .authorBio {
    img {
      width: 50px;
      border-radius: 5px;
    }
    .media {
      display: flex;
      align-items: center;
      //   justify-content: center;
    }
    p {
      font-size: 14px !important;
      line-height: 16px;
    }
  }
}
.thumbnail {
  box-shadow: none;
  width: 35px;
  height: 35px;
  background-size: cover;
  background-position: center center;
  border-radius: 50px;
  border: 1px solid #f7f9fc;
}

.popular_item {
  --bs-list-group-color: #212529;
  --bs-list-group-bg: #fff;
  --bs-list-group-border-color: rgba(0, 0, 0, 0.125);
  --bs-list-group-border-width: 1px;
  --bs-list-group-border-radius: 0.375rem;
  --bs-list-group-item-padding-x: 1rem;
  --bs-list-group-item-padding-y: 0.5rem;
  --bs-list-group-action-color: #495057;
  --bs-list-group-action-hover-color: #495057;
  --bs-list-group-action-hover-bg: #f8f9fa;
  --bs-list-group-action-active-color: #212529;
  --bs-list-group-action-active-bg: #e9ecef;
  --bs-list-group-disabled-color: #6c757d;
  --bs-list-group-disabled-bg: #fff;
  --bs-list-group-active-color: #fff;
  --bs-list-group-active-bg: #0d6efd;
  --bs-list-group-active-border-color: #0d6efd;
  display: flex;
  flex-direction: row !important;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: var(--bs-list-group-border-radius);
}
