.gigsPage {
  .gtitle {
    color: #010947 !important;
    font-size: 1rem;
    margin-bottom: 5px !important;
  }
  .gsubtitle {
    color: #6c757d;
    font-size: 13px;
    margin-bottom: 18px;
    font-weight: 400;
  }
}
